/*import from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Kalam:wght@300;400&display=swap');


body{
    background-color: #ffd2c6;
}

.main{
height: 150px;
width: 100%;
margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
border: 2px double black;
background-color: #dbc1ac;
}

.main>h2{
    padding: 10px;
    margin-left: 7px;
    font-family: Kalam;
    font-weight: 400;
}

.main-div{
    height: 70%;
    width: 90%;
    background-color: #fff4e6;
    position: absolute;
    margin-top: 30px;
    margin-left: 6px;
    text-align: center;
    border: 2px double black;
}

.questions-div>p{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Kalam';
        font-weight: 300;
}

.div-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.btn{
    border: 1px solid black;
    background-color: #dbc1ac;
    height: 40px;
    width: 70px;
    margin-top: 15px;
    left: 90px;
    font-family: Kalam;
}

/*GreatStack*/
.options-btn:hover{
    border-color: aliceblue;
}


.options-btn{
    width: 90%;
    text-align: left;
    border: 1px solid black;
    background-color: #dbc1ac;
    height: 40px;
    margin-top: 15px;
    left: 90px;
    font-family: Kalam;
}

.next-btn{
    margin-left: 2px;
}

.submit-btn{
    margin-right: 2px;
}

/*Web Dev Simplified*/
.hide{
    display: none;
}

.correct{
    background-color: #DAF7A6;
}

.incorrect{
    background-color: #E35335;
}

/*Media query min-width 768px*/
@media screen and (min-width: 768px) {

    .main>h2 {
            font-size: xx-large;
        }
    
        .main-div {
            margin-left: 30px;
        }
    
        .questions-div>p {
            font-size: xx-large;
        }

        .div-btn{
            justify-content: center;
        }
    
        .btn {
            height: 65px;
            width: 100px;
            font-size: larger;
        }
}

/*Media query min-width 992px*/
@media  screen and (min-width: 992px) {

    .main-div{
        height: 99%;
    }

    .btn{
       margin-top: 3%;
       
    }
}